
.job_title { font-family:"AofLCenturyGothicBold"; font-size:24px; color:#0055ac; margin-bottom:30px; /*float:left;*/ }
.job_title_text { float:left; width: 95%; line-height: 120%;}
.job_arrow { float:left; width:28px; height:28px; display:inline-block; margin-right:7px; margin-left:-1px; background:url("../careers/job_arrow.png") no-repeat; background-size:28px 28px; /*position:relative; top:5px;*/ }
.is_ie8 .job_arrow { background:url("../careers/ie8_job_arrow.png") no-repeat; }
.job_arrow.active_job_arrow { width:28px; height:28px; display:inline-block; margin-right:7px; margin-left:-1px; background:url("../careers/job_arrow_active.png") no-repeat; background-size:28px 28px; }
.is_ie8 .job_arrow.active_job_arrow { background:url("../careers/ie8_job_arrow_active.png") no-repeat; }
.job_subheading { font-weight:bold; color:#0055ac; margin:25px 0px; }
ul.job_list { list-style:disc outside none; margin-left:45px; }
ul.job_list li.job_list_item { margin-bottom:20px; }
.submit_resume_button { width:208px; height:30px; background-color:#ff7200; border:3px solid #ff3c00; border-radius:4px; overflow:hidden; position:relative; cursor:pointer; margin-top:25px; margin-bottom:40px; }
.submit_resume_glare { width:100%; height:50%; position:absolute; top:0px; left:0px; background-color:#ffffff; opacity:0.25; filter:alpha(opacity=25); border-radius:2px; }
.submit_resume_text { width:100%; text-align:center; font-family:"AofLCenturyGothicBold"; color:#ffffff; font-size:21px; position:relative; top:4px; }
.job_content { display:none; }
.job_content.active_job { display:block; }
.submit_resume_button.grayed_out { background-color:#979797; border:3px solid #888888; border-radius:2px; cursor:default; margin-bottom:30px; }
.isMobile .apply_instructions { margin-bottom:50px; }
.isMobile .submit_resume_button { display:none; }

.resume_form { padding:20px 27px; background-color:#eff0f0; margin:25px auto 30px; position:relative; display:none; }
.resume_form.always_show { display:block !important; }
.resume_form.always_show .close_form_img{ display:none; }
.close_form_img { width:24px; height:24px; position:absolute; right:5px; top:5px; cursor:pointer; }
.form_top_row_left { float:left; }
.form_top_row_right { float:right; width:252px; text-align:center; }
.input_label  { font-weight:bold; font-size:16px; color:#464646; }
.form_trl_label { float:left; width:60px; text-align:left; margin-top:6px; }
.form_trl_input_div { float:left; height:32px; }
.form_trl_input { width:307px; padding-left:7px; height:30px; background-color:#ffffff; border:1px solid #00a6e5; font-size:16px; color:#464646; font-family:Arial, Helvetica, sans-serif; }
.cover_letter_label { clear:both; }
.form_trl_row { height:32px; margin-bottom:14px; }
.form_trr_label { margin-top:30px; margin-bottom:10px; }
.form_dropdown { width:136px; height:25px; font-size:16px; color:#464646; font-family:Arial, Helvetica, sans-serif; }
.cover_letter_textarea { height:170px; padding:5px; border:1px solid #00a6e5; resize:none; color:#666666; }
.supported_file_types { font-size:13px; color:#f63a1d; margin-top:5px; }

.cover_letter_input { opacity:0; filter:alpha(opacity=0); position:absolute; left: 0; z-index:2; width:100% !important; }
.resume_input { opacity:0.00; filter:alpha(opacity=0); position:absolute; top:-2px; left:-737px; z-index:2; font-size:71px; cursor:pointer; }

.displayed_cover_letter_div, .displayed_resume_div { position:relative; z-index:1; }
.remove_cover_letter, .remove_resume { z-index:3; display:none; }
.displayed_cover_letter_glare, .remove_cover_letter_glare, .displayed_resume_glare, .remove_resume_glare { width:100%; height:50%; position:absolute; top:0px; left:0px; background-color:#ffffff; opacity:0.25; filter:alpha(opacity=25); border-radius:2px; }
.displayed_cover_letter_text, .remove_cover_letter_text, .displayed_resume_text, .remove_resume_text { width:100%; text-align:center; font-family:"AofLCenturyGothicBold"; color:#ffffff; font-size:11px; position:relative; top:0px; }

.fake_input_box { width:151px; height:25px; padding:5px 5px 0px 5px; background-color:#ffffff; border:1px solid #00a6e5; white-space:nowrap; font-size:12px; overflow:hidden; color:#464646; }

.files_input_container { float:left; }
.displayed_files_text { width:100%; text-align:center; font-family:"AofLCenturyGothicBold"; color:#ffffff; font-size:11px; position:relative; top:0px; }
.code_sample_input { opacity:0.00; filter:alpha(opacity=0); position:absolute; top:-2px; left:-808px; z-index:2; font-size:78px; cursor:pointer; }
.fileList { float:left; font-size:13px; color:#f63a1d; }
.file_list_entry { white-space:nowrap; line-height:16px; }
.remove_file_span { display:inline; float: none; color:#0055ac; text-decoration:underline; cursor:pointer; margin-left:5px; }

.portfolio_link_container { margin-top:28px; }
.portfolio_link_label { float:left; width:118px; text-align:left; margin-top:6px; }
.portfolio_input { width:356px; padding-left:7px; height:30px; background-color:#ffffff; border:1px solid #00a6e5; font-size:16px; color:#464646; font-family:Arial, Helvetica, sans-serif; }

.salary_request_container { margin-top:28px; }
.salary_request_label { float:left; width:162px; text-align:left; margin-top:6px; }
.salary_input { width:307px; padding-left:7px; height:30px; background-color:#ffffff; border:1px solid #00a6e5; font-size:16px; color:#464646; font-family:Arial, Helvetica, sans-serif; }

.available_shifts { clear:both; }
.available_shifts_title { margin-top:30px; margin-bottom:12px; float:left; }
.available_shift { width:250px; height:27px; margin-bottom:8px; float:left; }
.shift_checkbox { width:30px; height:27px; display:inline; float:left; margin-right:6px; }
.checkbox_label { float:left; position:relative; top:3px; font-size:15px; }

#generic_submit { padding:20px 27px; background-color:#eff0f0; margin-top:40px; margin-bottom:40px; }
#dont_see_text { float:left; color:#0055ac; font-size:20px; line-height:22px; }
.dont_see_submit { float:right; margin:0px; margin-top:4px; }
.dont_see_submit.grayed_out { margin-bottom:0px; }
.isMobile #generic_submit { width:458px; padding:20px 0px; border:1px solid #cacaca; border-radius:2px; background-color:#eff0f0; margin:40px auto; }
.isMobile #dont_see_text { float:none; text-align:center; color:#0055ac; font-size:20px; line-height:30px; }

.error_text { color:#ee0000; font-size:13px; }
.form_trl_error { clear:left; position:relative; top:-12px; left:62px; display:none; }
.cl_resume_error_div { position:relative; margin:5px 0px; display:none; }
.cover_letter_error { position:absolute; top:0px; left:0px; display:none; }
.resume_error { position:absolute; top:0px; right:0px; display:none; }
.code_samples_error { clear:both; height:3px; margin-top:3px; display:none; }
.salary_error { width:400px; margin-top:3px; margin-left:166px; display:none; }
.portafolio_error { width:400px; margin-top:3px; margin-left:120px; display:none; }
.available_shifts_error { float:right; margin-top:30px; margin-right:292px; display:none; }

#success_outer_container { width:573px; height:205px; position:fixed; top:300px; left:150px; z-index:11; display:none; }
#success_top { width:563px; height:48px; position:absolute; top:0px; left:5px; top:5px; z-index:14;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0065d5), color-stop(100%,#00499a));
	background: -webkit-linear-gradient(top, #0065d5 0%, #00499a 100%);
	background-image: linear-gradient(top, #0065d5 0%, #00499a 100%);
	background-image: linear-gradient(to bottom, #0065d5 0%, #00499a 100%);
	background-image: -moz-linear-gradient(top, #0065d5 0%, #00499a 100%);
	background-image: -o-linear-gradient(top, #0065d5 0%, #00499a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0065d5', endColorstr='#00499a');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0065d5', EndColorStr='#00499a')";
}
#success_inner_container { width:515px; height:112px; padding:65px 12px 12px 30px; background-color:#ffffff; border:3px solid #1c6dc9; margin:auto; position:relative; top:5px; z-index:13; }
#success_drop_shadow { width:563px; height:195px; background-color:#000000; opacity:0.25; filter:alpha(opacity=25); position:absolute; bottom:0px; right:0px; z-index:12; }
#success_top_text { font-family:"AofLCenturyGothicBold"; color:#ffffff; font-size:29px; position:absolute; top:10px; left:11px; }
#success_text { font-family:"AofLCenturyGothicBold"; color:#464646; font-size:19px; line-height:28px; }
#success_ok_button { width:87px; height:30px; background-color:#ff7200; border:3px solid #ff3c00; border-radius:4px; position:absolute; bottom:12px; right:12px; cursor:pointer; }
#success_ok_glare { width:100%; height:50%; position:absolute; top:0px; left:0px; background-color:#ffffff; opacity:0.25; filter:alpha(opacity=25); border-radius:2px; }
#success_ok_text { font-family:"AofLCenturyGothicBold"; font-size:23px; color:#ffffff; width:100%; text-align:center; position:relative; top:4px; }
#success_close { width:38px; height:38px; position:absolute; right:8px; top:5px; cursor:pointer; }

.acute_001 { overflow: hidden; display:inline-block; height:7px; position:relative; top:-11px; left:-13px;}
.acute_002 { overflow: hidden; display:inline-block; height:9px; position:relative; top:-6px; left:-7px;}